/* Error Message Styling */
.error {
    color: red;
    font-size: 12px;
    text-align: left;
}

/* Background and Font Styling */
html, body {
    margin: 0; /* Remove default browser margin causing top gap */
    padding: 0;
    background-color: #212528;
    font-family: 'Play', Tahoma, sans-serif;
    color: white;
    height: 100%;
}