/* Error Message Styling */
.error {
    color: red;
    font-size: 12px;
    text-align: left;
}

/* Background and Font Styling */
body {
    background-color: #212528;
    font-family: 'Play', Tahoma, sans-serif;
    color: white;
}